.map-area {
	display: flex;
	gap: 16px;
	align-items: stretch;
}

.map-container {
	margin-top: 32px;
	margin-bottom: 32px;
	flex: 1;
	min-width: 0;
	height: 50vh;
	border-radius: 32px;
}

.map-area article {
	width: 360px;
	flex-shrink: 0;
	margin: 32px 0;
	overflow-y: auto;
}
